.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.home-content   {
  // --background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
  //   url("https://lh3.googleusercontent.com/proxy/nMIspgHzTUU0GzmiadmPphBelzF2xy9-tIiejZg3VvJTITxUb-1vILxf-IsCfyl94VSn6YvHa8_PiIyR9d3rwD8ZhNdQ1C1rnblP6zy3OaI=w3840-h2160-p-k-no-nd-mv");
  // opacity: 1;

  background-color: transparent;
}
