<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="page-title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-grid class="main-tm" fixed="lg">
    <ion-row>
      <ion-col size="12" size-xl="12" size-lg="12" size-md="12">
        <ion-card>
          <ion-item>
            <ion-avatar item-start>
              <img >
            </ion-avatar>
            <h2 text-capitalize>Test </h2>
          </ion-item>
          <ion-card-content style="background-color: white">
            Bacon ipsum dolor amet salami prosciutto ham hock, strip steak buffalo ribeye pork chop. Beef ribs tenderloin tail shoulder.
            Spare ribs ham shoulder brisket rump hamburger. Pork belly kevin shoulder prosciutto ribeye pork chop chicken
            strip steak pig.
            
            <ion-list>
                <ion-item><ion-spinner style="margin: auto;"></ion-spinner></ion-item>
               <ion-item>
                    <ion-button expand="block">Try</ion-button> 
                </ion-item>
            </ion-list>
            

          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 </ion-content>


<!-- 
 <ion-content class="home-content">
    <ion-grid class="main-tm" fixed="sm">
      <ion-row>
        <ion-col *ngFor="let user of users" size="12" size-xl="12" size-lg="12" size-md="12">
          <ion-card>
            <ion-item>
              <ion-avatar item-start>
                <img [src]="user.picture.medium">
              </ion-avatar>
              <h2 text-capitalize>{{ user.name?.first }} {{ user.name?.last }}</h2>
            </ion-item>
            <ion-card-content style="background-color: white">
              Bacon ipsum dolor amet salami prosciutto ham hock, strip steak buffalo ribeye pork chop. Beef ribs tenderloin tail shoulder.
              Spare ribs ham shoulder brisket rump hamburger. Pork belly kevin shoulder prosciutto ribeye pork chop chicken
              strip steak pig.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-content> -->